<!-- The directive is rendered before being inserted so we need a container here -->
<div class="container-fluid">
	<div id="messagebox" class="row" ng-class="{'unread': message.unread}">
		<div class="col-xs-2">
			<img ng-show="message.author" ng-src="/media/{{message.author.image}}" class="img-circle img-responsive" alt="Image"/>
			<div ng-show="message.type" class="system-message-icon">
				<span class="glyphicon" ng-class="{'glyphicon-refresh': message.type == 'Rent request', 'glyphicon-ok': message.type == 'Rent accepted', 'glyphicon-remove': message.type == 'Rent declined'}" aria-hidden="true"></span>
			</div>
		</div>
		<div class="col-xs-10">
			<div class="row">
				<div class="col-xs-6 col-sm-7">
					<h5 ng-show="message.author">From {{message.author.username}}</h5>
					<h5 ng-show="!message.author">{{message.type}}</h5>
				</div>
				<div class="col-xs-5 col-sm-4">
					<p>{{message.created_at | date : "MMM d, y 'at' HH:mm"}}</p>
				</div>
				<div id="removecross__column" class="col-xs-1 col-sm-1">
			<!-- TODOJS make the cross work, maybe it should not be a link? -->
					<span id="removecross" class="glyphicon glyphicon-remove" ng-click="vm.deleteMessage()"></span> 
				</div>
			</div> <!-- /row -->
			<div class="row">
				<div class="col-xs-12">
					<p>
						<div ng-show="message.type == 'Rent request'">
							<p>The user <a href="users/{{message.rentee.username}}">{{message.rentee.username}}</a> wants to rent your Thingy. You can go in 'Offers' to accept or decline the offer.</p>
							<p>Additional comment from the user: {{message.body}}</p>
						</div>
						<div ng-show="message.type == 'Rent accepted'">The user <a href="users/{{message.thingy_details.author.username}}">{{message.thingy_details.author.username}}</a> accepted your offer.</div>
						<div ng-show="message.type == 'Rent declined'">The user <a href="users/{{message.thingy_details.author.username}}">{{message.thingy_details.author.username}}</a> declined your offer.</div>
						<div ng-show="message.author">{{message.body}}</div>
					</p>
				</div>
			</div> <!-- /row -->
			<div class="row">
				<!-- TODOJS put the receiver's name in the recipient input field (the replymodel is in the end of this script) -->
				<div id="reply__btn__column"class="col-xs-12">
					<button id="reply__btn" type="button" class="btn btn-success" data-toggle="modal" data-target="#replyModal">Reply</button>
				</div> <!-- /col-xs-12 -->
			</div> <!-- /row -->
		</div>
  </div>
</div> <!-- /container-fluid -->

				<div id="replyModal" class="modal fade" role="dialog">
						<div class="modal-dialog">
							<div class="modal-content">
							  <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">New private message</h4>
							  </div><!--/modal-header-->

							  <div class="modal-body">
								<div class="form-group" ng-class="{'has-success': vm.valid.recipient == 1, 'has-error': vm.valid.recipient == -1}">
								  <label for="messageRecipient">Recipient</label>
								  <input type="text" class="form-control" id="messageRecipient" rows="8"  ng-model="vm.newMessage.recipient.username" ng-change="vm.validate('recipient')" placeholder="Input recipient's username" />
                  <span class="help-block">{{vm.help.recipient}}</span>
                </div><!--form-group-->

								<div class="form-group" ng-class="{'has-success': vm.valid.body == 1, 'has-error': vm.valid.body == -1}">
								  <label for="messageBody">Message</label>
								  <textarea type="text" class="form-control" id="messageBody" rows="8"  ng-model="vm.newMessage.body" ng-blur="vm.validate('body')" placeholder="Input message here" />
                  <span class="help-block">{{vm.help.body}}</span>
              	</div><!--form-group-->
							  </div><!--/modal-body-->

							  <div class="modal-footer">
                  <!-- TODOJS The modal closes even if the message was not sent -->
								 <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.sendMessage()">Send</button>
							  </div><!--modal-footer-->
						  </div><!--modal-content-->
					  </div><!--modal-dialog-->
					</div><!--modal-fade-->
