<!-- The directive is rendered before being inserted so we need a container here -->
<div class="container-fluid">
	<div id="messagebox" class="row" ng-class="{'unread': message.unread}">
		<div class="col-xs-2">
			<img ng-show="message.author" ng-src="/media/{{message.author.image}}" class="img-circle img-responsive" alt="Image"/>
			<div ng-show="message.type" class="system-message-icon">
				<span class="glyphicon" ng-class="{'glyphicon-refresh': message.type == 'Rent request', 'glyphicon-ok': message.type == 'Rent accepted', 'glyphicon-remove': message.type == 'Rent declined'}" aria-hidden="true"></span>
			</div>
		</div>
		<div class="col-xs-10">
			<div class="row">
				<div class="col-xs-7 col-sm-8">
					<h5 ng-show="message.author">From {{message.author.username}}</h5>
					<h5 ng-show="!message.author">{{message.type}}</h5>
				</div>
				<div class="col-xs-5 col-sm-4">
					<p>{{message.created_at | date : "MMM d, y 'at' HH:mm"}}</p>
				</div>
			</div> <!-- /row -->
			<div class="row">
				<div class="col-xs-12">
					<p>
						<div ng-show="message.type == 'Rent request'">
							<p>The user <a href="users/{{message.rentee.username}}">{{message.rentee.username}}</a> wants to rent your Thingy. You can go in 'Offers' to accept or decline the offer.</p>
							<p>Additional comment from the user: {{message.body}}</p>
						</div>
						<div ng-show="message.type == 'Rent accepted'">The user <a href="users/{{message.thingy_details.author.username}}">{{message.thingy_details.author.username}}</a> accepted your offer.</div>
						<div ng-show="message.type == 'Rent declined'">The user <a href="users/{{message.thingy_details.author.username}}">{{message.thingy_details.author.username}}</a> declined your offer.</div>
						<div ng-show="message.author">{{message.body}}</div>
					</p>
				</div>
			</div> <!-- /row -->
		</div>
  </div>
</div> <!-- /container-fluid -->
