<!-- The directive is rendered before being inserted so we need a container here -->
<div class="container-fluid">
	<div id="messagebox" class="row">
		<div class="col-xs-2">
			<!-- TODOJS get the senders profile picture -->
			<img src="/static/images/felicia.jpg" class="img-circle img-responsive" alt="Image"/>
		</div>
		<div class="col-xs-10">
			<div class="row">
				<div class="col-xs-8">
					<h5 ng-show="message.author">From {{message.author}}</h5>
					<h5 ng-show="!message.author">{{message.type}}</h5>
				</div>
				<!-- TODOJS make date/time work? -->
				<div class="col-xs-4">
					{{message.created_at}}
				</div>
			</div> <!-- /row -->
			<div class="row">
				<div class="col-xs-12">
					<p>{{message.body}}</>
				</div>
			</div> <!-- /row -->
		</div>
  </div>
</div> <!-- /container-fluid -->
