<!-- Prevent adding #whatever when clicking tabs -->
<script type="text/javascript">
  $('.nav-tabs a').click(function(e)
  {
    e.preventDefault();
  });
</script>

<div class="profile" ng-show="vm.profile">

<div class="container-fluid">
  <div class="hidden-xs">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<h3>Profile</h3>
		</div>
		<div class="col-xs-1"></div>
	</div> <!-- /row -->
  </div>
	<div class="row">
		<div class="col-xs-1 col-sm-1"></div>
		<div id="infobox__profile" class="col-sm-3">
			<div class="cliente">
			<div class="row">
				<div class="col-xs-4 col-sm-12">
					<!-- TODOJS put the real profilepicture here -->
					<img ng-src="/media/{{vm.profile.image}}" class="img-responsive" style="width:100%"><img>
				</div>
				<div id="profile__name" class="col-xs-7 col-sm-12">
					<h1>{{ vm.profile.username }}</h1>
					<!-- TODOJS add hometown? Should we have this -->
					<h6><span class="glyphicon glyphicon-map-marker"></span> Town, Region</h6>
					<h6>
					  <span class="glyphicon glyphicon-star yellow"></span>
					  <span class="glyphicon glyphicon-star yellow"></span>
					  <span class="glyphicon glyphicon-star yellow"></span>
					  <span class="glyphicon glyphicon-star yellow"></span>
					  <span class="glyphicon glyphicon-star yellow"></span>
					</h6>
					<div class="hidden-xs">
						<a href="thingies/add" id="profile__button1" role="button" class="btn btn-primary" ><span class="glyphicon glyphicon-plus-sign"></span> Add Thingy</a><br>
						<a href="users/{{vm.profile.username}}/settings" id="profile__button2" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span> Settings</a>
					</div>
				</div>
			</div> <!-- /row --->
			</div> <!-- cliente -->
		</div> <!-- /col-sm-3 -->
		<div class="col-sm-7">
			<div class="row">
				<div class="col-xs-12">
					<ul id="menu__tabs" class="nav nav-tabs">
					  <li class="active"><a data-toggle="tab" href="#thingies__tab">Thingies</a></li>
					  <li><a data-toggle="tab" href="#contacts__tab">Contacts</a></li>
					  <li><a data-toggle="tab" href="#reviews__tab">Reviews</a></li>
					  <li><a data-toggle="tab" href="#messages__tab">Messages <span class="badge">4</span></a></li>
					</ul>

				</div><!-- col-xs-12 -->
				</div><!-- /row -->
				<div class="row">

				<div class="tab-content">
				  <div id="thingies__tab" class="tab-pane fade in active">
						<div ng-repeat='thingy in vm.posts'>
  						<a href="thingies/details/{{thingy.id}}"><post thingy="thingy"></post></a>
            </div>
				  </div>
				  <div id="contacts__tab" class="tab-pane fade">
					<p>Contacts...</p>
				  </div>
				  <div id="reviews__tab" class="tab-pane fade">
					<p>reviews...</p>
				  </div>
				  <div id="messages__tab" class="tab-pane fade">
					<p>Messages...</p>
				  </div>
				</div>


				</div> <!-- row -->
		</div> <!-- col-sm-7 -->
		<div class="col-sm-1"></div>
		</div> <!-- /row -->
</div> <!-- /container-fluid -->

</div>
