<div class="container-fluid">

			<div id="reviewbox" class="row">
				<div class="col-xs-3">
					<!-- TODOJS get the senders profile picture -->
			<div id="review__picture" >
						<!-- <img id="image" ng-src="/media/{{review.author.image}}" class="img-circle img-responsive" alt="Author picture"/> -->
						<img id="image" src="/static/images/corre.jpg" class="img-resposive"  alt="Image"/>
					</div>
					<p id="review__author">{{review.review_author}}</p>
				</div>
				<div class="col-xs-9">
					<div class="row">
						<div class="col-xs-7">
							<h5>
								<img id="image__rating" ng-src="static/images/rating_{{review.rating_details.rating_grade}}.png"/>
							</h5>
						</div>
						<!-- TODOJS make date/time work? -->
						<div id="review__date" class="col-xs-5">
							<p>{{review.created}}</p>
						</div>
					</div> <!-- /row -->
					<div class="row">
						<div class="col-xs-12">
							<p>{{review.comment}}</p>
						</div>
					</div> <!-- /row -->
				</div> <!-- /col-xs-10 -->
			</div> <!-- /row -->
</div> <!-- /container-fluid -->
