<div class="container-fluid">
	<div id="messagebox" class="row">
		<div class="col-xs-2">
			<!-- TODOJS get the senders profile picture -->
			<img src="/static/images/felicia.jpg" class="img-circle img-responsive" alt="Image"/>
			<p>Username</p>
		</div>
		<div class="col-xs-10">
			<div class="row">
				<div class="col-xs-8">
					<h6>
					  <span class="glyphicon glyphicon-star yellow"></span>
					  <span class="glyphicon glyphicon-star yellow"></span>
					  <span class="glyphicon glyphicon-star yellow"></span>
					  <span class="glyphicon glyphicon-star yellow"></span>
					  <span class="glyphicon glyphicon-star yellow"></span>
					</h6>
				</div>
				<!-- TODOJS make date/time work? -->
				<div class="col-xs-4">
					12 may 11.15pm
				</div>
			</div> <!-- /row -->
			<div class="row">
				<div class="col-xs-12">
					<p>Review text bla bla bla...</>
				</div>
			</div> <!-- /row -->
		</div>
  </div>
</div> <!-- /container-fluid -->

<!-- To the rating:

<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
</label>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
</label>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
</label>

<select class="form-control">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>

-->
