<!-- The directive is rendered before being inserted so we need a container here -->
<div class="container-fluid">
    <div id="post-directive__post" class="panel panel-default post" >
      <div class="panel-body">
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-xs-12 col-sm-9">
			<div id="posttitle">
				<h5>{{thingy.title}}</h5>
			</div>
		</div> <!-- /col-xs-9-->
	</div> <!-- /row -->


    <div class="row">
        <div class="col-sm-3 hidden-xs">
          <img id='box' ng-src='media/{{thingy.image}}'></img>
        </div> <!-- /col-sm-3 -->
        <div class="col-sm-5">
			<div class="hidden-xs">
			 <div id="description">
				 <p>Description: {{thingy.description}}</p>
			 </div>

			  <div id="condition">
				<p>Condition: {{thingy.condition_details.cond_desc}}</p>
			  </div>

			  <div id="category">
				<p>Category: {{thingy.subcategory_details.category.cname}}</p>
			  </div>
			  <div id="subcategory">
				<p>Subcategory: {{thingy.subcategory_details.sub_cat_name}}</p>
			  </div>
           </div> <!-- /hidden-xs -->

          <div id="location">
            <p><span class="glyphicon glyphicon-map-marker"></span>{{thingy.location_details.name}}, {{thingy.location_details.region.name}}</p>
          </div>
          <div id="suppliername">
            <p><span class="glyphicon glyphicon-user"></span>{{thingy.author.username}}</p>
          </div>

          <div id="reviews" class="hidden-xs">
            <img id="image__rating" ng-src="static/images/rating_{{thingy.author.avg_rating_round}}.png"/>
		      </div>
		</div> <!-- /col-sm-5 -->

        <div class="col-sm-4">
          <div class="price hidden-xs">
            <p>{{thingy.price}} <span id="SEKday">SEK/day</span></p>
          </div>
        </div><!-- /col-xs-4 -->
    </div> <!-- /row -->
	<div class="row">
		<div class="col-xs-8 visible-xs">
			<div class="price">
				<p>{{thingy.price}} <span id="SEKday">SEK/day</span></p>
			</div>
			</div>
		<div id="manage__post" class="col-xs-4 col-sm-12" ng-show="{{owned}}"><a href='thingies/manage/{{thingy.id}}'>Manage</a></div>
	</div> <!-- /row -->

      </div> <!-- /row -->
      </div>
    </div>
 </div> <!-- /container-fluid -->
