<!-- The directive is rendered before being inserted so we need a container here -->
<div class="container-fluid">
  <div class="well row">
    <blockquote class="col-sm-9">
      <h2>{{ thingy.title }}</h2>
      <p>{{ thingy.description }}</p>
      <!--p>{{ thingy.price }}</p-->
      <footer><a href="/{{ thingy.author.email }}">{{ thingy.author.email || thingy.author.username }}</a></footer>
    </blockquote>
    <div class="col-sm-2 col-sm-offset-1" ng-show="thingy.owned">
      <a ng-click="vm.remove(thingy.id)">Remove your Thingy</a>
    </div>
  </div>
</div>
