<!-- The directive is rendered before being inserted so we need a container here -->
<div class="container-fluid">
    <div id="search__result__panel" class="panel panel-default" style="cursor:pointer">
      <div class="panel-body">
       <div class="row">
        <div class="col-xs-4" id="">
          <img id='box' src={{'media/'+thingy.image}}></img>
        </div> <!-- /col-xs-4 -->
        <div class="col-xs-4">
          <h5>{{thingy.title}}</h5>
          <p>{{thingy.description}}</p>
          <div id="location">
            <p><span class="glyphicon glyphicon-map-marker"></span>{{thingy.location_details.region.name}}, {{thingy.location_details.name}}</p>
          </div>
          <div id="suppliername">
            <p><span class="glyphicon glyphicon-user"></span>{{thingy.author.username}}</p>
          </div>
          <!-- TODOJS add rating stars -->
          <div id="reviews"class="hidden-xs">
            <p>Reviews
              <span class="glyphicon glyphicon-star yellow"></span>
              <span class="glyphicon glyphicon-star yellow"></span>
              <span class="glyphicon glyphicon-star yellow"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
            </p>
          </div> <!-- /hidden-xs -->
        </div> <!-- /col-xs-4 -->
        <div class="col-xs-4">
          <div id="price">
            <h5>{{thingy.price}} SEK/day</h5>
          </div>
          <div id="condition">
            <p>Condition: {{thingy.condition_details.cond_desc}}</p>
          </div>
        </div><!-- /col-xs-4 -->
      </div> <!-- /row -->
      </div>
    </div>
 </div> <!-- /container-fluid -->
