<div id="search" class="tab-pane fade in active">
    <p>
      <form role="get-form">

        <div class="form-group">
          <label for="thingy__search">Id or username</label>
          <input type="text" class="form-control" id="thingy__search" ng-model="vm.search" placeholder="ex: Guillaume Docquier" />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Find it!</button>
        </div>
      </form>
    </p>
  </div>
<h1 ng-cloak>Such wow! There are {{vm.posts.length}} Thingies for rent!</h1>

<div ng-repeat='thingy in vm.posts'>
    <post thingy="thingy"></post>
</div>
