<!-- Prevent adding #whatever when clicking tabs -->
<script type="text/javascript">
  $('.nav-tabs a').on('click',function(e)
  {
    e.preventDefault();
  });
</script>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#find">Find a thingy</a></li>
  <li><a data-toggle="tab" href="#add">Add a thingy</a></li>
</ul>

<div class="tab-content">
  <!-- Find tab -->
  <div id="find" class="tab-pane fade in active">
    <p>
      <form role="form" ng-submit="vm.get()">

        <div class="form-group">
          <label for="find__name">Id or username</label>
          <input type="text" class="form-control" id="find__name" ng-model="vm.getuser" placeholder="ex: Guillaume Docquier" />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Find it!</button>
        </div>
      </form>
    </p>
  </div>
  <!-- Create tab -->
  <div id="add" class="tab-pane fade">
    <p>
      <form role="form" ng-submit="vm.create()">

        <div class="form-group">
          <label for="thingy__title">Title</label>
          <input type="text" class="form-control" id="thingy__title" ng-model="vm.title" placeholder="Awesome title" />
        </div>

        <div class="form-group">
          <label for="thingy__description">Short description</label>
          <input type="text" class="form-control" id="thingy__description" ng-model="vm.description" placeholder="Rent it to me" />
        </div>

        <div class="form-group">
          <label for="thingy__user">Full name</label>
          <input type="text" class="form-control" id="thingy__user" ng-model="vm.user" placeholder="ex: John Doe" />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Add my Thingy</button>
        </div>
      </form>
    </p>
  </div>
</div>

<h1>Such wow! There are {{vm.numPosts}} Thingies for rent!</h1>

<div ng-repeat='thingy in vm.posts'>
    <post thingy="thingy"></post>
</div>
