
<!-- TODOJS make the calender work-->
<!-- <script type="text/javascript">
    $(function () {
        $('#datetimepicker_start').datetimepicker();
        $('#datetimepicker_end').datetimepicker({
            useCurrent: false //Important! See issue #1075
        });
        $("#datetimepicker_start").on("dp.change", function (e) {
            $('#datetimepicker_end').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker_end").on("dp.change", function (e) {
            $('#datetimepicker_start').data("DateTimePicker").maxDate(e.date);
        });
    });
</script> -->


<div class="container-fluid">

	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6" id="thingy_picture">
			<img ng-src="/media/{{vm.post.image}}"  style="width:100%"/>
		</div>
		<div class="col-sm-3"></div>
	</div><!--/row-->

	<div class="row">
		<div class="col-sm-3"></div>
		<div id="ad_page_title" class="col-sm-6">
			<h1>{{vm.post.title}}</h1> <h1><span style="color:#4d4d4d"> Price: </span>{{vm.post.price}} SEK/day</h1>

			<div class="row">
				<div class="col-xs-12 col-sm-12">
				  <button type="none" class="btn {{vm.availability}}">This Thingy is {{vm.post.status_details.name | lowercase}} right now</button>
				</div><!--/col-xs-12-->
			</div> <!--/row-->


		</div>

	</div><!--/row-->

	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-3">

			<div class="row">
				<div  class="col-xs-12 col-sm-12" id="condition_thingy">
					<h6><span style="color:#4d4d4d"> Location: </span>{{vm.post.location_details.name}}, {{vm.post.location_details.region.name}}</h6>
            <p><span style="color:#4d4d4d"> Category: </span>{{vm.post.subcategory_details.category.cname}}, {{vm.post.subcategory_details.sub_cat_name}}</p>
					<p><span style="color:#4d4d4d"> Condition: </span>{{vm.post.condition_details.cond_desc}}</p>
				</div><!--/col-xs-12 col-sm-12"-->
			</div><!--/row-->

			<div class="row">
				<div class="col-xs-12 col-sm-12">
				  <p><span style="color:#4d4d4d"> Description: </span>{{vm.post.description}}</p>
				</div><!--/col-xs-12-->
			</div> <!--/row-->


		</div><!--/col-sm-6-->

		<div class="col-sm-3">
			<div class="hidden-sm hidden-md hidden-lg col-xs-12 form-group">
				<button type="button" id="rent_thingy_btn" class="btn btn-default" data-toggle="modal" data-target="#myModal">Rent Thingy</button>
			</div><!--/col-xs-12-->

		<div class="row">
			<div class="col-xs-4 col-sm-4">
				<img src="media/{{vm.post.author.image}}" class="img-responsive" style="width 100%"><img>
			</div><!--col-xs-4 col-sm-2-->

			<div class="col-xs-8 col-sm-8">
				<h5><a href="/users/{{vm.post.author.username}}">{{vm.post.author.username}}</a></h5>

				<!-- TODJS put the star picture here, I have prepered the css style already to the corresponding id -->
                <p id="image__rating__thingy">Rating: {{vm.post.author.avg_rating | number : 2}}<span ng-hide="vm.post.author.avg_rating == 'Not rated yet'" class="glyphicon glyphicon-star yellow"></span></p>
			</div><!--col-xs-8 col-sm-4-->



		<div class=" hidden-xs col-xs-12 col-sm-12 form-group">
			<button type="button" id="rent_thingy_btn" class="btn btn-default" data-toggle="modal" data-target="#myModal">Rent Thingy</button>
		</div><!--/col-xs-12 col-sm-12-->
	</div><!--/row-->
			<div id="myModal" class="modal fade" role="dialog">
				<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
				  <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Write a request to the owner</h4>
				  </div><!--modal-header-->

				  <div class="modal-body">
				     <div class="row">
						<div class="col-xs-6 col-sm-6">
							<div class="form-group">
								Start date:
								<div class='input-group date' id='datetimepicker_start'>
									<input type='text' class="form-control input-sm" ng-model="vm.period.start"/>
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div><!--input-group date-->
							</div><!--form-group-->
						</div><!--col-xs-6 col-sm-6-->

						<div class="col-xs-6 col-sm-6">
							<div class="form-group">
								End date:
								<div class='input-group date' id='datetimepicker_end'>
									<input type='text' class="form-control input-sm" ng-model="vm.period.end"/>
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>
						</div><!--/col-xs-6-->
					</div><!--/row-->

				<div class="form-group">
				  <label for="thingy__description">Message to the owner</label>
				  <textarea type="text" class="form-control" rows="8"  ng-model="vm.message" placeholder="Input message here" />
				</div><!--form-group-->

				</div><!--/modal-body-->

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.rent()">Rent Thingy</button>
				</div><!--modal-footer-->
			  </div><!--modal-content-->
			</div><!--modal-dialog-->
			</div><!--modal-fade-->
	</div><!--/col-sm-6-->
	<div class="col-sm-3"></div>
  </div>

	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6" id="map_thingy">
			<p>
			  <iframe
					width="100%"
					height="400px"
					frameborder="0"
					style="border:0"
					ng-src="{{vm.gMapsUrl}}"
					allowfullscreen>
			  </iframe>
			</p>
		</div>
		<div class="col-sm-3"></div>
	</div><!--/row-->
</div> <!--/container-fluid-->
