<footer class="container-fluid footer" id="footer__style">
	<!-- <div class="page-row">
		<div id="footer__style"> -->
			<div class="row">
				<div class="col-xs-1 col-sm-3"></div>
				<div class="col-xs-5 col-sm-3">
					<ul id="footer__menu" style="list-style: none; ">
					  <li><a href="#">ABOUT US</a></li>
					  <li><a href="#">CAREERS</a></li>
					  <li><a href="#">HELP</a></li>
					  <li><a href="#"><span class="glyphicon glyphicon-earphone"></span>CONTACT</a></li>
					</ul>
				</div>
				<div class="col-xs-5 col-sm-3">
					<ul id="footer__menu" style="list-style: none; ">
					  <li><a href="#">RENT CONTRACTS</a></li>
					  <li><a href="#">CUSTOMER SAFETY</a></li>
					  <li><a href="#">SALES TIPS</a></li>
					</ul>
				</div>

				<div class="col-xs-1 col-sm-3"></div>
			</div> <!-- /row -->
			<div class="row">
				<div class="col-xs-4"></div>
				<div id="followus"class="col-xs-4">
					<p>FOLLOW US</p>
				</div>
				<div class="col-xs-4"></div>
			</div> <!--/row -->
			<div class="row">
				<div class="col-xs-4"></div>
				<div class="col-xs-4">
					<a><img id="facebook" src="/static/images/facebook.png" class="img-responsive" alt="Image"></a>
					<a><img id="instagram" src="/static/images/instagram.png" class="img-responsive" alt="Image"></a>
				</div>
				<div class="col-xs-4"></div>
			</div> <!--/row -->
		<!-- </div>
	</div> -->
</footer>
