<footer class="container-fluid footer" id="footer__style">
	<!-- <div class="page-row">
		<div id="footer__style"> -->
			<div class="row">
				<div class="col-xs-1 col-sm-4"> </div>
				<div class="col-xs-5 col-sm-2"id="footer__menu1">
					<ul  style="list-style: none; ">
					  <li><a href="thingies/about/">ABOUT US</a></li>
					  <li><a href="/thingies/carrers/">CAREERS</a></li>
					  <li><a href="http://www.youtube.com/watch?v=yWP6Qki8mWc&t=1m8s">HELP</a></li>
					  <li><a href="http://www.imdb.com/title/tt0118884/?ref_=nv_sr_1"><span class="glyphicon glyphicon-earphone"></span>CONTACT</a></li>
					</ul>
				</div>
				<div class="col-xs-5 col-sm-2" id="footer__menu1">
					<ul  style="list-style: none;">
					  <li><a href="http://www.rsoinc.com/pdfs/equip_rental_revb.pdf">RENT CONTRACTS</a></li>
					  <li><a href="http://www.hg.org/consume.html">CUSTOMER SAFETY</a></li>
					  <li><a href="http://salestipaday.com/daily-sales-and-marketing-tips">SALES TIPS</a></li>
					</ul>
				</div>
				<div class="col-xs-1 col-sm-4"> </div>

			</div> <!-- /row -->
			<div class="row">
				<div class="col-xs-4"></div>
				<div id="followus"class="col-xs-4">
					<p>FOLLOW US</p>
				</div>
				<div class="col-xs-4"></div>
			</div> <!--/row -->
			<div class="row">
				<div class="col-xs-4"></div>
				<div class="col-xs-2">
					<a href="https://www.facebook.com/Thingy-724976590938104/"><img id="facebook" src="/static/images/facebook.png" alt="Image"></a>
				</div>
				<div class="col-xs-2">
					<a><img id="instagram" src="/static/images/instagram.png" alt="Image"></a>
				</div>
				<div class="col-xs-4"></div>
			</div> <!--/row -->
		<!-- </div>
	</div> -->
</footer>
