{% load staticfiles %}

<link rel="icon" type="image/png" href="{% static 'images/favicon-32x32.png' %}" sizes="32x32" />
<link rel="icon" type="image/png" href="{% static 'images/favicon-16x16.png' %}" sizes="16x16" />

<link rel="stylesheet" type="text/css" href="{% static 'styles/ngDialog.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'styles/ngDialog-theme-plain.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'styles/ngDialog-theme-default.css' %}"/>

<link rel="stylesheet" type="text/css" href="{% static 'styles/fullcalendar.min.css' %}"/>

<link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}"/>
