<div class="container-fluid">
	<div class="row">
		<div class="col-sm-2">
		</div><!--col-sm-2-->
		<div class="col-sm-10">
			<h3>About us</h3>
		</div>
	</div> <!--row-->

	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8" id="about_thingy">
			<p>
				Thingy is the result of an independent project at Uppsala University. The idea is to connect individuals in an expanding sharing economy. 
				Thingy serves as a community where users can publish, search and rent stuff from each other. 
            </p> 
        </div>
        <div class="col-xs-2"></div>
	</div>
</div>
