<div id="row__start" class="row">

<div class="jumbotron text-center" id='homeJumbotron'>

  <h1>Thingy</h1>
    <div class="row">
	  <div class="col-xs-1"></div>
	  <div class="col-xs-10 col-xs-12">
  <h5>Collaborative consumtion made easy for you</h5>
  <form class="form-inline">
    <input type="Search" class="form-control" size="50" placeholder="Search thingy" ng-model="vm.searchTerm" required>

    <div class="form-group">
    	<select class="form-control" id="thingy__region" ng-model="vm.region" ng-options="region.name for region in vm.regions">
    	   <option value="">Region</option>
    	</select>
    </div>
    <button type="button" id="search_btn_home" class="btn" ng-click="vm.search(false)">Search</button>
  </form>
  </div>
  <div class="col-xs-1"></div>
  </div> <!-- /row -->
</div>


<div id="gallery1">
<div class="container-fluid bg-3 text-center">

<div class="hidden-xs">
  <div class="row">
    <div class="col-sm-3">
      <p>Tools</p>
      <a href="/thingies/search?advanced=false&category=hobby&subcategory=tools">
      <img src="/static/images/tools.jpg" class="img-responsive" style="width:100%" alt="Image"></a>
    </div>
    <div class="col-sm-3">
      <p>Automotive</p>
      <a href="/thingies/search?advanced=false&category=automotive">
      <img src="/static/images/automotive.jpg"  class="img-responsive" style="width:100%" alt="Image"></a>
    </div>
    <div class="col-sm-3">
      <p>Books</p>
      <a href="/thingies/search?advanced=false&category=books">
      <img src="/static/images/books.jpg"  class="img-responsive" style="width:100%" alt="Image"></a>
    </div>
    <div class="col-sm-3">
      <p>Events</p>
      <a href="/thingies/search?advanced=false&category=events">
      <img src="/static/images/events.jpg"  class="img-responsive" style="width:100%" alt="Image"></a>
    </div>
  </div>
  </div> <!-- hidden-xs-->
</div><br>



<div class="container-fluid bg-3 text-center">
	<div class="hidden-xs">
	  <div class="row">
		<div class="col-sm-3">
		  <p>Fashion</p>
      <a href="/thingies/search?advanced=false&category=fashion">
		  <img src="/static/images/fashion.jpg"  class="img-responsive" style="width:100%" alt="Image"></a>
		</div>
		<div class="col-sm-3">
		  <p>Hobby</p>
      <a href="/thingies/search?advanced=false&category=hobby">
		  <img src="/static/images/Paint.jpg"  class="img-responsive" style="width:100%" alt="Image"></a>
		</div>
		<div class="col-sm-3">
		  <p>Home</p>
      <a href="/thingies/search?advanced=false&category=home">
		  <img src="/static/images/home.jpg" class="img-responsive" style="width:100%" alt="Image"></a>
		</div>
		<div class="col-sm-3">
		  <p>Other</p>
      <a href="/thingies/search?advanced=false&category=other">
		  <img src="/static/images/other.jpg"  class="img-responsive" style="width:100%" alt="Image"></a>
		</div>
	  </div>
	</div> <!-- hidden-xs-->
</div><br><br>

</div>
