<div class="jumbotron text-center" id='homeJumbotron'>
  <h1>Thingy</h1> 
  <h5>We specialize in making people exchange services</h5> 
  <form class="form-inline">
    <input type="Search" class="form-control" size="50" placeholder="Search thingy" required>
    <button type="button" id="search_btn_home" class="btn">Search</button>
    
  </form>
</div>

   <div id="about" class="container-fluid">
  <div class="row">
    <div class="hidden-xs col-sm-3">
	   <a href='search.html'>
			<img class="img-responsive"  id='books' src='/static/images/Books.jpg'></img>
	   </a>
    </div> <!-- /col-sm-4-->
    <div class="hidden-xs col-sm-3">
	   <a href='search.html'>
			<img class="img-responsive" id='paint' src='/static/images/Paint.jpg'></img>
	   </a>
    </div> 
    <div class="hidden-xs col-sm-3">
		  <a href='search.html'>
			<img class="img-responsive" id='sports' src='/static/images/sports.png'></img>
		</a>
    </div> <!-- /col-sm-4-->
    <div class="hidden-xs col-sm-3">
	  <a href='search.html'>
		<img class="img-responsive" id='tools' src='/static/images/Tools.png'></img>
	  </a>
    </div> <!-- /col-sm-4-->
   
  </div>
</div>
