<p>Welcome home</p>
<p>{{vm.welcome}}</p>

<a href='/login'>Login page</a>
<a href='/register'>Register page</a>
<a href='/test'>Test page</a><br>

<a href="javascript:void(0)" id="test"
  ng-dialog="/static/templates/authentication/login-register.html"
  ng-dialog-controller="LoginRegisterController as vm">Login dialog</a>
<a href="javascript:void(0)"
  ng-dialog="/static/templates/authentication/login-register.html"
  ng-dialog-class="ngdialog-theme-default"
  ng-dialog-controller="LoginRegisterController as vm">Register dialog</a>
