
#thingy_picture{
	@media (min-width: @screen-sm) {
	margin-top: 15px;
	height:70%;
	}
}

#rent_thingy_btn{
	margin-bottom: 70px;
	@media (min-width: @screen-sm) {
	margin-bottom: 0px;
	margin-top: 10px;
}
}


#ad_page_title{
	margin-bottom: 30px;
}

#ad_page_price h3{
	margin-top:0;
	text-align: center;	
}
#ad_page_price p{
	margin-top:0;
	text-align: center;	
}


#condition_thingy{
	margin-top: 50px;
}

#condition_thingy h6{
}

#myModal{
	margin-top: 70px;

}

#map_thingy{
margin-top: 60px;
}
