.page-row {
	height: 100px;
}

#footer__style {
	margin: 10vh 0 0 0;
	background-color: @btn-other-color-light;
	width: 100%;
	
}

#footer__menu a {
	font-family: Montserrat, sans-serif;
	color: #fff;	
    line-height: 1.42857143 !important;
    text-align: center;
    
    font-size: 9px;
    letter-spacing: 2px;
	@media (min-width: @screen-sm) {
		font-size: 12px;
		letter-spacing: 4px;
	}
}

#footer__menu {
	margin: 2em 0 2em 0;
}

#followus {
	font-family: Montserrat, sans-serif;
	color: #fff;
    line-height: 1.42857143 !important; 
    font-weight: bold;
    text-align: center;

    font-size: 9px;
    letter-spacing: 2px;
	@media (min-width: @screen-sm) {
		font-size: 12px;
		letter-spacing: 4px;
	}
}

#instagram {
	width: 40px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
}

#facebook {
	width: 40px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#followus__symbols {
	
}

