/*
home.less
*/

#gallery {
/*
  background-image: url("../img/tools.jpg");
*/
  background-color: lightgrey;
  background-repeat: no-repeat;
  text-align: center;
  height: 70vh;
}

.form-group {
	margin: 1vh;
	@media (min-width: @screen-sm) {
		font-size: 14px;
	}
}

#gallery h1{
  margin-bottom: 1em; 
}
#gallery p {
  text-align: center;
  margin-bottom:7em;
}

  #description{
	@media (min-width: @screen-sm) {
		margin: 10em 0 18em 0;
	}
  }
