
#messagebox {
	padding:2vh 2vh 2vh 2vh;
	border: 1px solid @btn-other-color-light;
	border-radius: 5px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;

	.col-xs-2 {
		padding: 0;
		position: static;
	}

	&.unread {
		font-weight: bold;
		background: darken(@hover-color, 4%);
		&:hover {
			cursor: pointer;
		}
	}

	&:hover {
		background: @hover-color;
	}
}

.system-message-icon {
	display: block;
	margin: @font-size-base auto @font-size-base auto;
	width: @font-size-glyphicon-xl;
	font-size: @font-size-glyphicon-xl;

	.glyphicon-ok {
		color: #4A9130;
	}

	.glyphicon-remove {
		color: #AA3939;
	}

	.glyphicon-refresh {
		color: #2B4970;
	}
}
