body {
	font-size: 11px;
	
	@media (min-width: @screen-sm) {
		font-size: 14px;
	}
}

#logo {
  height: 5vh;
  margin: 3vh auto 3vh auto;
  display: block;
  
	@media (min-width: @screen-sm){
		height: 15vh;
		margin: 3vh auto 3vh auto;
	}
 }

.navbar {
  margin:0 0 0 0;

}

#dropdownmenu{ 
  min-width: 10em;
  margin: 0 0 0 0;
}

#userbutton {
  margin:2em 0em 0em 0em;
}

#usericon {
	margin: 1vh;
}

