#reviewbox .row {max-width: 100%}

#image__rating__profile {
	width: 60%;
	@media (min-width: @screen-sm) {
		width: 60%;
	}
}

#message__tab {
    height:10px;
    overflow-y:scroll;
}

#btn__new__message {
	float: right;
	margin-top: 0.5em;
	margin-right: 1em;
	margin-bottom: 0;
	color: white;
	background-color: @btn-submit-color;
	font-size: @font-size-form-xs;
	@media (min-width: @screen-sm) {
		font-size: @font-size-form-sm;
	}
}

#btn__new__review {
	float: right;
	margin-top: 0.5em;
	margin-right: 01em;
	color: white;
	background-color: @btn-submit-color;
	font-size: @font-size-form-xs;
	@media (min-width: @screen-sm) {
		font-size: @font-size-form-sm;
	}
}

#profile__panel .col-xs-4 {
	padding-top: 0em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

#profile__panel1 {
	padding-top: 0em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

#profile__menubar {
  text-align: center;
  background-color: @btn-other-color-light;
  margin-top: 2vh;
  font-size: 12px;
  height: 20px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
  padding: 0;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

#profile__menubar a {
  color: @standard-text-color-semilight;
  margin:0;
  padding:0.5em 1em 0.5em 0;
}

#profile__name h1 {
	margin:0;
}

#profile__button1 {
	background-color: @btn-other-color-light;
	border: 1px  @btn-other-color-light;
	margin-top: 1vh;
}

#profile__button2 {
	background-color: @btn-other-color-light;
	border: 1px  @btn-other-color-light;
	margin-top: 1vh;
	padding-right: 35px;
}

#profile__button3 {
	background-color: @btn-other-color-light;
	border: 1px  @btn-other-color-light;
	margin-top: 1vh;
	padding-left: 20px;
	padding-right: 25px;
}

#profile__button4 {
	background-color: @btn-other-color-light;
	border: 1px  @btn-other-color-light;
	margin-top: 1vh;
}

#profile__button5 {
	background-color: @btn-other-color-light;
	border: 1px  @btn-other-color-light;
	margin-top: 1vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: @font-size-form-xs;
	@media (min-width: @screen-sm) {
	font-size: @font-size-form-sm;
	}
}

.cliente {
	padding:1em 1em 1em 1em;
	border: 1px solid @btn-other-color-light;
	border-radius: 5px;
	margin-bottom: 2em;
}

#menu__tabs a{
	color: @standard-text-color-semilight;
}

#modal-dialog__createReview {
	margin-top: 8em;
}

#offers__tab h2 {
	 color: @standard-text-color-semilight;
} 

#accept__decline__btn {
	float: right;
}

#date__offer {
	text-align: right;
}
