//Font-sizes
@font-size-form-xs: 10px; 
@font-size-form-sm: 15px;

//Buttons
@btn-submit-color: #74d874;
@btn-other-color-light: #cccccc;

//panels
@panel-add-color: white;
 //#c3efc3;

//color variables
@standard-color-light: #adebad;
@standard-color: #74d874;
@standard-text-color-light: #999999;
@standard-text-color-semilight: #737373;
@star-color:#ffd11a;

//Example colors:
//#74d874
//#c3efc3
//#74d874
