<p>This is LOGIN</p>
<form role="form" ng-submit="vm.login()">

  <div class="form-group">
    <label for="login__email"></label>
    <input type="text" class="form-control" id="login__text" ng-model="vm.email" placeholder="E-mail" />
  </div>

  <div class="form-group">
    <label for="login__password"></label>
    <input type="text" class="form-control" id="login__text" ng-model="vm.password" placeholder="Password" />
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Login</button>
  </div>
</form>
