<!-- hack to hide the autofocus -->
<a href='#' class='invisible'>hack</a>

<!-- Prevent adding #whatever when clicking tabs -->
<script type="text/javascript">
  $('.nav-tabs a').click(function(e)
  {
    e.preventDefault();
  });
</script>

<ul id="auth__taboptions" class="nav nav-tabs">
  <li><a data-toggle="tab" href="#login">Login</a></li>
  <li class="active"><a data-toggle="tab" href="#register">Register</a></li>
</ul>

<div class="tab-content">
  <!-- Login tab -->

  <div id="login" class="tab-pane fade">
    <p>
      <form role="form" ng-submit="vm.login()">

        <div class="form-group">
          <label for="login__username">Email or username</label>
          <input type="text" class="form-control" id="login__username" ng-model="vm.username" placeholder="E-mail or username" />
        </div>
        <div class="form-group">
          <label for="login__password">Password</label>
          <input type="password" class="form-control" id="login__password" ng-model="vm.password" placeholder="Password" />
		  <a><p>Forgot Password?</p></a>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">Login</button>
        </div>
      </form>
    </p>
  </div>
  <!-- Register tab -->
  <div id="register" class="tab-pane fade in active">
    <p>
      <form role="form" ng-submit="vm.register()">

        <div class='row'>
          <div class="form-group col-xs-6" ng-class="{'has-success': vm.valid.firstName == 1, 'has-error': vm.valid.firstName == -1}">
            <label for="register__fname">First name</label>
            <input type="text" class="form-control" id="register__fname" ng-model="vm.firstName" ng-focus="vm.clearValidity('firstName')" ng-blur="vm.validate('firstName')" placeholder="" />
          </div>

          <div class="form-group col-xs-6" ng-class="{'has-success': vm.valid.lastName == 1, 'has-error': vm.valid.lastName == -1}">
            <label for="register__lname">Last name</label>
            <input type="text" class="form-control" id="register__lname" ng-model="vm.lastName" ng-focus="vm.clearValidity('lastName')" ng-blur="vm.validate('lastName')" placeholder="" />
          </div>
        </div>

        <div class="form-group" ng-class="{'has-success': vm.valid.username == 1, 'has-error': vm.valid.username == -1}">
          <label for="register__username">Username</label>
          <input type="text" class="form-control" id="register__username" ng-model="vm.username" ng-focus="vm.clearValidity('username')" ng-blur="vm.validate('username')" placeholder="" />
          <span class="help-block">{{vm.help.username}}</span>
        </div>

        <div class="form-group" ng-class="{'has-success': vm.valid.email == 1, 'has-error': vm.valid.email == -1}">
          <label for="register__email">Email</label>
          <input type="text" class="form-control" id="register__email" ng-model="vm.email" ng-focus="vm.clearValidity('email')" ng-blur="vm.validate('email')" placeholder="" />
          <span class="help-block">{{vm.help.email}}</span>
        </div>

        <div class="form-group" ng-class="{'has-success': vm.valid.password == 1, 'has-error': vm.valid.password == -1}">
          <label for="register__password">Password</label>
          <input type="password" class="form-control" id="register__password" ng-model="vm.password" ng-change="vm.validate('password')" placeholder="" />
          <span class="help-block">{{vm.help.password}}</span>
        </div>

        <div class="form-group" ng-class="{'has-success': vm.valid.confirm == 1, 'has-error': vm.valid.confirm == -1}">
          <label for="register__confirm">Confirm password</label>
          <input type="password" class="form-control" id="register__confirm" ng-model="vm.confirmPassword" ng-change="vm.validate('confirm')" placeholder="" />
          <span class="help-block">{{vm.help.confirm}}</span>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">Register</button>
        </div>
      </form>
    </p>
  </div>
</div>
